<!DOCTYPE html>
<html lang="zh-CN">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
 
<title>绑定手机号</title>
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/Home/js/index.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/style/login.css">
</head>
<div class="msg"></div>
<div class="fugai"></div>

<body>


<div class="login">
<form action="{:U('login/dowx')}" method="post">
   <li style="height:120px; margin-bottom:80px;"><img src="__PUBLIC__/Home/img/logo1.png" width="250" style=" margin:auto"></li>
   <li><input type="text" class="login_usename" name="phone" onFocus="if(this.value=='用户名（手机号）'){this.value=''}" onBlur="if(this.value==''){this.value='用户名（手机号）'}" value="用户名（手机号）"></li>
  <!-- <li><input type="text" class="login_pass" name="password"  onFocus="if(this.value=='请输入密码'){$(this).attr('type','password');this.value=''}" onBlur="if(this.value==''){$(this).attr('type','text');this.value='请输入密码'}" value="请输入密码"></li>-->
    <input type="hidden" name="openid" value="{$openid}">
	<input type="hidden" name="username" value="{$username}">
	<input type="hidden" name="picture" value="{$picture}">
	<li><input type="submit" class="login_bot" value=" 绑定 "></li>
	
   </form>
</div>

</div>

</body>
</html>
